<div class="container">
  <div class="ui two column stackable grid">
    <div class="column">
      <div class="ui segment backgroud">
        <h4><i class="angle left icon"></i>Alterar a forma de pagamento</h4>
        <h1>
          <i class="credit card icon"></i>Adicione um novo cartão de crédito
        </h1>
        <app-credit-card></app-credit-card>
      </div>
    </div>

    <div class="column">
      <div class="ui segment">
        <app-navigator></app-navigator>
        <app-form></app-form>
      </div>
    </div>
  </div>
</div>
