<div *ngIf="!save; else saveOk">
  <form [formGroup]="formCreditCard">
    <div class="container">
      <mat-form-field class="form-input">
        <input
          matInput
          maxlength="16"
          formControlName="numCard"
          required
          (keyup)="formatNumCard(numCard, formCreditCard)"
          placeholder="Número do cartão"
        />
        <mat-error>Por favor, informe um número de cartão válido</mat-error>
      </mat-form-field>
      <mat-form-field class="form-input">
        <input
          (keyup)="onHandlerName(formCreditCard)"
          matInput
          formControlName="name"
          required
          placeholder="Nome"
        />
        <mat-error>Por favor, informe um nome</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-input">
        <input
          matInput
          formControlName="validate"
          [matDatepicker]="picker"
          placeholder="Validade do cartão"
          (dateChange)="onHandlerValidate(formCreditCard)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Por favor, informe a validade do cartão</mat-error>
      </mat-form-field>
      <mat-form-field class="form-input">
        <input
          (keyup)="onHandlerCVV(formCreditCard)"
          matInput
          maxlength="3"
          formControlName="cvv"
          required
          placeholder="CVV"
        />
        <mat-error>Por favor, informe o cvv do cartão</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select placeholder="Parcela" required formControlName="payment">
        <mat-option *ngFor="let payment of listPayments" [value]="payment?.id">
          {{ payment.value }}
        </mat-option>
      </mat-select>
      <mat-error>Por favor, selecione uma forma de pagamento</mat-error>
    </mat-form-field>
    <div>
      <button
        (click)="saveCardCredit(formCreditCard.value)"
        mat-raised-button
        color="warn"
      >
        CONTINUAR
      </button>
    </div>
  </form>
</div>
<ng-template #saveOk>
  <h1>Cartão salvo com Sucesso!</h1>
</ng-template>
