.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  .dialog-btns {
    padding: 30px;
  }
}

::ng-deep .mat-dialog-container {
  box-sizing: border-box;
  width: 290px;
  border-radius: 14px;
  padding: 30px 40px;
  padding: 30px;

  [mat-dialog-title] {
    font-size: 18px;
    text-transform: uppercase;
    color: #1f3d7b;
    margin: 10px 0 5px 0;
  }
}
